<%= form_with( model: @student ) do | form | %>
    <h2>Edit Your Profile</h1>
    <div>
        <%= form.label "Name" %>
        <%= form.text_field :name %>
    </div>
    <div>
        <%= form.label "Level" %>
        <%= form.collection_select(:level_id, Level.all,:id,:name,prompt: true) %> 
    </div>
     <div class="form-group">
        <%= form.label "Password" %>
        <%= form.password_field :password %>
    </div>
    <%= form.submit %>
<% end %>