<%= form_with( model: @tutor ) do | form | %>
    <div>
        <%= form.label "Name" %>
        <%= form.text_field :name %>
    </div>
    <div>
        <%= form.label "Level" %>
        <%= form.text_field :level %>
    </div>
    <div>
        <%= form.label "Subject" %>
        <%= form.text_field :subject %>
    </div>
    <div>
        <%= form.label "Bio" %>
        <%= form.text_field :bio %>
    </div>
    <%= form.submit %>
<% end %>