<div class="container h-100">
<h1 class="text-center red"> TutoRails</h1>

<br><br><br><br>

<div class="row h-100 justify-content-center align-items-center">

<%= form_with( model: @tutor ) do | form | %>
<center><h1 style="color:red;">Create A New Tutor</h1><center>
    <div>
        <%= form.label "Name" %>
        <%= form.text_field :name, :class => 'form-control' %>
    </div>
     <div>
        <%= form.label "Email" %>
        <%= form.text_field :email, :class => 'form-control' %>
    </div>
    <div>
        <%= form.label "Subject" %>
        <%= form.collection_select :subject_id, Subject.all,:id,:name, {prompt: true}, {:class => 'form-control'} %>
    </div>
    <div>
        <%= form.label "Level" %>
        <%= form.collection_select :level_id, Level.all,:id,:name, {prompt: true}, {:class => 'form-control'} %>
    </div>
     <div class="form-group">
        <%= form.label "Password" %>
        <%= form.password_field :password, :class => 'form-control' %>
    </div>
    <div>
        <%= form.label "bio" %>
        <%= form.text_field :bio, :class => 'form-control' %>
    </div>
<br>
    <%= form.submit :class => 'btn btn-danger' %>
<% end %>

</div>
</div>


    