<h2><%= "Lesson #{@lesson.id}" %></h2>
<h3>Tutor: </h3>
<%= @lesson.tutor.name %>

<h3>Subject: </h3>
<%= @lesson.subject.name %>

<h3>Location: </h3>
<%= @lesson.location.name %>

<h3>Student: </h3>
<%= @lesson.student.name %>

